<section class="content-header">
    <h1>Buying Bills Page</h1>
</section>
<section class="content">
    <a class="btn btn-primary" href="#AddBuyingBill">Add New Buying Bills</a>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Buying Bills Data</h3>
                </div>
                <div class="box-body">
                         <table id="BuyingBills" class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="sortable" data-ng-click="ordering('BillDate')">BillDate</th>
                                <th class="sortable" data-ng-click="ordering('Total')">Total Price</th>
                                <th class="sortable" data-ng-click="ordering('Deduction')">Deduction</th>
                                <th class="sortable" data-ng-click="ordering('Final')">Final Price</th>
                                <th class="sortable" data-ng-click="ordering('Notes')">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Bill in BuyingBills">
                                <td>{{Bill.BillDate}}</td>
                                <td>{{Bill.Total}}</td>
                                <td>{{Bill.Deduction}}</td>
                                <td>{{Bill.Final}}</td>
                                <td>{{Bill.Notes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>